*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #42a5f5;
}
.body{
    width: 300px;
    background: white;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#dialed {   
    overflow: hidden;
}